.font-segoe {
  font-family: Segoe Print;
}

.font-trebuchet {
  font-family: Trebuchet MS;
}

h5.color-style {
  color: #c5c9cc; 
}

.size-realisation {
  height: 300px;
}

.size-text {
  font-size: 12px;
}

.bg-sidebar {
  background: linear-gradient(black, gray);
}

.bg-footbar {
  background: linear-gradient(gray, black);
}

.bg-carousel {
  background: linear-gradient(gray, black);
}

.size-card-carousel {
  height: 25rem;
}

.change-opacity-1 {
  animation: 2s displayText;
}

.change-opacity-2 {
  animation: 3s displayText;
}

.change-opacity-3 {
  animation: 5s displayText;
}

.change-opacity-4 {
  animation: 7s displayText;
}

@keyframes displayText {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

/** css pour afficher ou non la photo de profil avec l'API intersection Observer */ 
/** [class*="reveal-"] selection tout ce qui contient une class 'reveal-...' */

 [class*="reveal-"] { 
  opacity: 0;
}

.reveal-1 {
  transform: translateX(-100px)
}

.reveal-2 {
  transform: translateX(100px)
}

.reveal-4 {
  transform: translate(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateX(0);
  transition: 1s;
}